@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --header: #8C8276;
    --main: #FFE1C7;
    --card: #ffffff50;
    --darktext: #3C3833;
    --light: #FFF4EA;
    --button: #CC844A;
    --christmas: #1B7913;
    --box-shadow: 4px 4px 10px #00000070;
    --text-shadow: 0 3px 2px #00000055;
}
body{
    font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
     sans-serif;
    margin: 0;
    background: var(--main);
    color: var(--darktext);
}




/* Header */
header{
    background: var(--header);
    color: var(--light);
}
header a, footer a{
    color: var(--light);
    text-decoration: none;
    cursor: pointer;
    text-shadow: var(--text-shadow);
}
    /* Countdown */
    .countdown{
        position: relative;
        display: flex;
        justify-content: center;
        background: var(--christmas);
        text-align: center;
        padding: 15px 0;
    }
    .countdown p{
        z-index: 1;
    }
    .ribbon{
        z-index: 0;
        position: absolute;
        left: 75%;
        top: 5px;
        height: 150px;
        width: auto;
    
    }
    header > div > p{
        text-align: center;
        padding: 15px 0;
    }
    /* Logo/Name */
    .brand{
        font-family: 'Josefin Sans', 'Lucida Sans Regular', 'Lucida Grande', 
        sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 200px;
        max-width: 300px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .brand p{
        grid-column: span 2;
        padding-bottom: 1ch;
    }
    .brand img{
        max-width: 150px;
        height: auto;
    }
    /* Navigation */
    header div nav ul{
        padding: 0 .3rem;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
    header div nav ul li{
        width: 100%;
        cursor: pointer;
        padding: .1rem;
        padding-bottom: .5rem;
        border-right: 2px solid var(--darktext);
        text-align: center;
    }
    header div nav ul li:last-of-type{
        border-right: 0;
    }


    /* INDEX PAGE */
    main{
        margin: 0 auto;
    }
    main ul{
        list-style: none;
        padding: 0;
    }
    .container{
        display: flex;
        align-content: center;
        position: relative;
        margin-bottom: 3rem;
        margin: 3rem auto;
    }
    .container ul{
        display:flex;
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 3rem;
        width: 40%;
        margin: 2rem auto;
        color: var(--darktext);
        scroll-snap-type: x mandatory;
        max-width: 600px;
    }
    .container ul li{
        min-width: 95%;
        height: fit-content;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        scroll-snap-align: center;
        background: var(--card);
    }
    .container ul li:first-of-type{
        margin-left: 2rem;
    } 
    .container ul li:last-of-type{
        margin-right: 2rem;
    }
    .container ul li img{
        background: var(--header);
        max-width: 100%;
        padding: .5rem;
    }
    .container ol{
        display: flex;
        justify-content: center;
        gap: .5rem;
        position: absolute;
        list-style: none;
        width: 100%;
        bottom: -2rem;
        padding: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
    }
    .container ol button{
        width: 20px;
        height: 30px;
        background: var(--card);
        border: 1px solid var(--button);
        border-radius: 5px;
        transition: .2s ease-in-out;
        max-width: 20px;
    }
    .container ol button:hover{
        background: var(--header);
    }   
    .featuretag{
        position: absolute;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff90;
        color: var(--darktext);
        padding: .2rem .3rem;
        text-align: center;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        max-width: 50%;
    }
    .about{
        max-width: 60%;
        margin: 2rem auto;
    }
    .active_button{
        background: var(--header);
        border-radius: 5px;
    }
    .active_button button{
         color: var(--light);
    }




/* Card */
.card{
    background: var(--card);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}




/* Product Page */
       /* MAIN */
.showproducts{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 1.5rem;
}

        .showproducts a, form{
            color: #3C3833;
        }
        .product{
            border: 3px solid #8C8276;
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            background:#ffffff50;
            transition: .2s ease-in;
        }
        .product:hover{
            background: #00000020;
            transform: scale(1.01);
        }
        .product > img{
            max-width: 100%;
            height: auto;
        }
        .product h2, .product p{
            padding-left: .5rem;
        }


/* FORM Filters */    
.filters{
    background: #BFBCB8;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px #00000070;
    padding: 1rem;
}    
.filters{
    display: flex;
    background: #BFBCB8;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px #00000070;
        padding: 1rem;
}        
.filters > div{
    display: flex;
    gap: .5rem;
}    
.filters input[type=submit]{
    background: none;
    border: none;
    font-size: large;
    cursor: pointer;
    color: #FFF4EA;
    padding: .8rem;
}    
form input[type=submit]:hover{
    background: #BFBCB8;
}     



/*Pagination Buttons*/
.pagination{
    grid-column: span 3;
    margin: 1rem auto;
}    
.pagination a{
    font-size: larger;
    padding: .5rem .8rem;
    width: 30px;
    margin: 1rem;
    border: 1px solid;
    text-shadow: var(--text-shadow);
    border: 1px solid var(--darktext);
    border-radius: 15px;
}    
.pagination a:hover{
    background-color: #3c383372;
    cursor: pointer;
}    








/* Details Page */
.detailimgs{
    max-width: 70%;
    height: auto;
}
.detailwords{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 70%;
}
.productimg{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
.thumb{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;   
    justify-self: center;
}
.thumb img{
    max-width: 100%;
    height: auto;
}
.productinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price-button{
    display: flex;
    justify-content: space-between;
}
.variantimg{
    background: none;
    max-width: 250px;
    max-height: 250px;
    border-radius: 15px;
    border: 1px solid var(--button);
    overflow: hidden;
    padding: 0;
    transition: .3s ease-in-out;
    overflow: hidden;
}
.variantimg:hover{
    transform: scale(1.05)
}
.thumb{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;   
    justify-self: center;
}
.thumb img{
    max-width: 100%;
    height: auto;
}
/* Categories */
.categories{
    display: flex;
    width: fit-content;
    border: 1px solid var(--darktext);
    background-color: var(--card);
}
.categoryitem{
    color: var(--button);
    padding: .5rem;
}



/*VENDORS*/
.vendor{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2rem;
}
.vendor a{
    color: var(--darktext);
    display: flex;
    align-items: center;
}
.vendor div{
    margin: 2rem 1rem;
}
.vendor img{
    max-width: 100%;
    height: auto;
    transition: .3s ease-in-out;
    border-radius: 50vw;
}
.vendor img:hover{
    background: #00000020;
    transform:scale(1.01);
}
.contact img{
    width: 25px;
}
.vendor .contact{
    display: flex;
    text-decoration: underline;
    gap: 2rem;
    margin-top: 3rem;
}
.showproducts h3{
    grid-column: span 3;
}





/* Footer */
footer{
    background: var(--button);
    display: flex;
}
footer ul{
    list-style: none;
    color: var(--light);
}
.footerlinks{
    display: grid;
    grid-template-columns: 150px 1fr;
}
.footerlinks ul{
    padding: .5rem;
}
footer .socials {
    text-decoration: underline var(--light);
}
footer .socials li{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
footer .socials li:last-of-type{
    padding-bottom: 0;
}
footer .socials img{
    max-height: 2ch;
}




/*Order page*/
section .order-overview{
    background-color: var(--card);
    border-radius: 15px;
    border: 2px solid var(--button);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    gap: 1rem;
    margin: 0 auto;
}
section form .clear{
    background: rgb(138, 48, 48);
    color: var(--light)
}
.cartitem{
            border-radius: 15px;
            max-width: 90%;
            margin: .3rem auto;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: .5rem; 
            box-shadow: 0 2px 5px var(--darktext);
            transition: .1s ease-in;
        }
        .cartitem:hover{
            transform: scale(1.008);
            box-shadow: 0 2px 10px var(--darktext);
        }
.cartitem img{
            border-radius: 15px 0 0 15px;
            max-height: 100px;
            width: auto;
        }
        .ordertotal{
            padding: 2rem;
        }

        /*form*/
main section form{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        main section form div{
            display: grid;
            grid-template-columns: 150px 300px;
        }
        main section form div input{
            background: var(--light);
            border: 1px solid var(--button);
            border-radius: 5px;
        }





/*COMPLETED ORDER PAGE*/

.ordered{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem auto;
    padding: 1rem;
}



/* UNIVERSAL */
 main a{
    text-decoration: none;
    color: var(--darktext);
    cursor: pointer;
}
form button[type="submit"]{
    background: var(--button);
    color:var(--light);
    width: 150px;
    border-radius: 10px;
    border: 0;
    padding: .5rem 0rem;
}
form button[type="submit"]:hover{
    background: #CC844A90;
    cursor: pointer;
}

.nocontentbutton{
    padding: .5rem;
    background: #00000050;
    color: var(--light);
    max-width: 150px;
    border-radius: 10px;
}
.nocontentbutton:hover{
    background: #00000060;
}





/* Media Queries */

@media (min-width: 900px) {
    header div{
        display: grid;
        grid-template-columns: 300px 1fr;
        align-items: center;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .footerlinks{
        align-self: flex-end;
    }
}

@media (min-width: 1500px){
    .showproducts{
            grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
    .pagination, .showproducts h3{
        grid-column: span 4;

    }

}
@media (min-width: 2000px){
    .showproducts{
            grid-template-columns: repeat(5, minmax(300px, 1fr));
    }
    .pagination, .showproducts h3{
        grid-column: span 5;
}
}


@media (max-width: 900px){
    .vendor{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .vendor > a img{
        max-height: 200px;
        width: auto;
    }
    .vendor .contact{
        flex-direction: column;
    }
    .about{
        width: 90%;
    }
    main section form div{
        display: flex;
        flex-direction: column;
    }
    .showproducts{
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
        padding: 1rem .2rem;
    }
    .pagination, .showproducts h3{
        grid-column: span 2;
    }
    .products{
        font-size: small;
        height: 100%;
    }
    .detailimgs{
        max-width: 100%;
    }
    .price-button{
        margin-top: 1rem;
    }
}
@media(max-width: 780px){
    .filters > div{
        flex-direction: column;
    }
    .detailwords{
        max-height: 100%;
    }
    .thumb {
        gap: .2rem;
        margin: 0;
    }
}
@media(max-width: 650px){
    footer{
        flex-direction: column;
    }
    .footerlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filters{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filters button[type='submit']{
        align-self: flex-end;
    }
    .container ul{
        width: 300px;
    }
    .ribbon{
        left: 60%;
        height: 100px;
        width: 100px;
        top: 35px;
    }
}